*{
     font-family: 'Roboto', sans-serif;
}

.navigation{
    
    background-color: #0000007a;
    width: 100%;
    padding: 1px;
    border-radius: 10px;
    position: sticky;
    display: flex;
    justify-content: space-between;
}

.navigation ul{
    
    list-style: none;
    display: flex;
    flex-flow: row-reverse ;
    align-content: space-between;
    justify-content: space-evenly ;
    margin: 10px 10px;
}

.navigation2{
  display: none;
  background-color: #0000007a;
  width: 100%;
  padding: 1px;
  border-radius: 10px;
  position: sticky;
  justify-content: space-between;
}

.navigation2 ul{
  list-style: none;
  display: flex;
  flex-flow: row-reverse ;
  align-content: space-between;
  justify-content: space-evenly ;
  margin: 10px 10px;
}



a:hover{
    background-color: #dbdbdb51;
    /* color: #000000; */
    border: #ffffff;
    border-width: 10px;
    border-radius: 10px;
}

a{
    transition-duration: 0.2s;
    justify-content: space-evenly;
    align-content: space-between;
    font-family:'Inter', sans-serif;
    font-weight: 100px;
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
   
   
}

.dropdown {
    transition-duration: 0.4s;
    justify-content: space-evenly;
    align-content: space-between;
    font-family:'Inter', sans-serif;
    font-weight: 100px;
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
  }
  
  .dropdown-content {
    right: 160px;
    border-radius: 20px;
    text-align: center;
    transition-duration: 0.4s;
    display: none;
    position: absolute;
    background-color: #0000007a;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    transition-duration: 0.4s;
    display: flex;
    flex-flow: column;
  }
  .dropdown:hover{
    color: rgb(196, 0, 196) ;
    
  }


  .dropdown2 {
    transition-duration: 0.4s;
    justify-content: space-evenly;
    align-content: space-between;
    font-family:'Inter', sans-serif;
    font-weight: 100px;
    padding: 5px;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
  }
  
  .dropdown-content2 {
    right : 6px;
    border-radius: 20px;
    text-align: center;
    transition-duration: 0.4s;
    display: none;
    position: absolute;
    background-color: #000000cc;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown2:hover .dropdown-content2 {
    transition-duration: 0.4s;
    display: flex;
    flex-flow: column;
  }
  .dropdown2:hover{
    color: rgb(196, 0, 196) ;
    
  }

  #home{
    margin-left: 1rem;
    align-self: center;
}
                /* start of the music player */
.player-playlist{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.player{
    /* margin-left: 10rem; */
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.container{
    border-radius: 20px;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.4);
}
.trackDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.trackArt{
    margin :25px;
    width: 200px;
    height: 200px;
    border-radius: 50% ;
    background-position: center;
    background-size: cover;
    box-shadow: 1px 6px 5px rgb(61, 61, 61); 
}

.trackName{
    font-size: larger;
    padding-bottom: 0.5rem;
    font-weight: 600;
}
.trackArtist{
    font-size: medium;
}

.sliders {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.volume{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.sliders input{
    /* appearance: ; */
    background-color: rgb(73, 73, 73);
    height: 5px;
    margin: 0px 10px;
    border-radius: 10px;
    width: 60%;
    cursor: pointer;
}
.volume input{
    width: 40%;
}

.sliders input::-webkit-slider-thumb{
    appearance: none;
    background-color: brown;
    width: 10px;
    height: 10px;
    border-radius: 80%;
    /* outline-style: solid; */
    /* outline-width: 2px; */
    
}

.buttons{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.shuffle,.previous,.play_pause,.next{
    padding: 10px;
    margin-right: 5rem;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 50px;
    transition-duration: 0.5s;
}

.shuffle{
    border-radius: 50px;
}
.shuffle:hover,.previous:hover,.play_pause:hover,.next:hover{
    background-color: rgba(131, 131, 131, 0.281); ;
}

.rotate{
    animation: rotation 20s infinite linear;
    animation-play-state: paused;
}
.active{
    background-color: rgba(44, 44, 44, 0.425);
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

.playlist{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: transparent;
    margin-left: 2rem;
    width: 35rem;
    height: 20rem;
    align-self: center;
    justify-self: center;
    /* bottom: 20px; */
    /* left: 38.75rem; */
    border-radius: 10px;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.4);
    overflow-y: scroll;
    /* justify-content: space-evenly; */
}
.song{
    display: flex;
    justify-content: space-around;
    align-items: center;    

}
.song img{
    width: auto;
    height: 50px;
    border-radius: 50%;
    padding: 20px;
}
.song p{
    box-sizing: content-box;
    width: 180px;
    text-size-adjust: 10%;
    margin-left: 5rem;
    font-size: 20px;
    word-break: break-all;
}
.song button{
    padding: 20px;
    margin-left: 5rem;
    border-radius: 50% 50%;
    border: none;
}
::-webkit-scrollbar {
    width: 10px; 
    margin-right: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    margin-right: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.5);
    border-radius: 30px;
    margin-right: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.5);
  }
@media only screen and (max-width: 786px){
    .navigation{
        display: none;
      }
      .navigation2{
        display: flex;
        
      }
      .shuffle,.previous,.play_pause,.next{
        margin-right: 2rem;
      }

    
}
