body{
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: #2D2929 ;
    font-family:'Inter', sans-serif;
}
/* *, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
.mainContainer{
    background-color: #2D2929 ;
    position: relative;
    width: 100%;
    height: 100%;
}

.imgSlider{
    /* margin-left: auto; */
    display: flex; 
    align-items: center;
    /* justify-content: space-around; */
    overflow-x: auto; 
    
    cursor: grab;
    /* flex-wrap: wrap; */
    padding: 1vw;
    width: 100%;
}
.imgSlider:active{
    cursor: grabbing;
}
.imgSlider img{
    margin-left: 1vw;
    aspect-ratio: 1/1;
    width: 16rem;
    border-radius: 10px;
}
/* play list css and songs */
.playlist{
    margin: 2vh 2vh 2vh 2vh;
    display: flex;
    flex-direction: column;
    background-color: #9eccc493;
    max-height: 67vh;
    overflow-y: auto;
    border-radius: 10px ;
    
}
.song{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 10vh;
    /* padding: 3rem 1.5rem; */
    border-radius: 10px;
    padding: 1.2rem 0rem 1.2rem 0.2rem;
}
.song img{
    aspect-ratio: 1/1;
    width:8vh;
    height: 8vh;
    margin-left: 1vw;
    /* padding: 2vw; */

    
}
.buttons{
    display: flex;
    margin-right: 1vw;
    /* border: solid 1px black; */
}
.song .buttons button{
    width: 5vh;
    height: 5vh;
    margin-left: 4vw;
    border-radius: 100%;
    border: none;
    font-size: 20px;
    transition-duration: 0.1s ;
    background-color: #bfe9e2;
}
.song .buttons .addbutton{
    background-color: transparent;
    /* margin-left: 20px; */
   
}
.song .buttons button:hover{
    background-color: #9eccc493;
}
.song button img{
    width: 1.5vw;
    height: 1.5vw;
    padding: 4px 0 0 0;

}
.trackDetails{
    width: 85rem;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.trackDetails h2{
    width: max-content;
    font-weight: 600;
    margin-bottom: 0;
}
.trackDetails h3{
    font-weight: 500;
    margin-top: 0 ;
}
.playlist hr{
    width:85%;
    margin: auto;
}
.nowplaying{
    background-color: #8cf5e393 ;
}
/* end of playlist css and songs */
.player{
   width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0px;
    margin-top: 3vh;
    height: 12vh;
    background-color: #2D2929;
    justify-content: space-evenly
}    
.playerImg{
    aspect-ratio: 1/1;
    margin-left: 1vh;
    width:9vh;
    border-radius: 100%;
    animation: rotate 30s forwards infinite ;
    animation-play-state: paused;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
    }
    
}

.player button{
    display: flex;
    flex-wrap: wrap;
    /* width: 2vw; */
    height: 4vh;
    margin-right:0.5rem;
    margin-left: 0.5rem;
    border-radius: 100%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
    align-items: center;
    justify-content: center;
    background-color: #6d6868;
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1/1;
}
.player button:hover{
    background-color: rgb(192, 189, 189);
}
.player button img{
    width: 3vh;
    height: 3vh;
}

.player div{
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    color: aliceblue;
    width: 52vw;
}
.player div h3{
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 1vh;
}
.player .trackseeker{
    width: 100%;
}

.volume{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 15rem !important;
    bottom: 4vh;
    right: 1vw;
    margin: 0;
    background-color: aliceblue;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.5s ;
}
.volume h3{
    color: black;
}
.volumeSeeker{
    width: 10vw;
    margin-bottom: 2vh;
}

.player .currentTime , .player .totalDuration{
    margin: 0px ;
    margin-top: 12px;
    width: max-content;
}
::-webkit-scrollbar {
    width: 10px; 
    height: 5px;
    background-color: transparent;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2D2929;
    margin-right: 5px;
    margin-block: 1rem;
    border-radius: 30px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.5);
    border-radius: 30px;
    margin-right: 5px;
    width: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.5);
  }

  .playlist::-webkit-scrollbar-track {
    background: #6a868281;
    margin-right: 5px;
    margin-block: 0.5rem;
    border-radius: 30px;
  }
.playlist::-webkit-scrollbar-thumb {
    background: #a4d1ca81;
    border-radius: 30px;
    margin-right: 5px;
    width: 10px;
  }

  @media only screen and (max-width :650px){
    .player .next , .player .prev{
        display: none;
    }
    .player div h3{
        font-size: 13px;
        text-align: center;
  }
  .player button{
    width: 6.3vw;
    height: 6.3vw;
    font-size: 15px;
    margin-top: 0.7rem;
  }
  .playerImg{
    width: 5vh;
  }
  .player {width: 100%;}
  .volume{
    width: 7rem !important;
    height: 2rem;
    right: 0;
    margin-right: 0 !important;
  }
  .volume h3{
    visibility: hidden;
  }
  .volumeSeeker{
    /* transform: rotate(-90deg); */
    width: 6rem;
   margin-bottom: 2.5rem;
    
  }
  .trackDetails{
    font-size:10px;
  }
  .imgSlider img{
    width: 20vh;
  }
  .playlist{
    height: 63vh ;
    }
.song img{
        width: 5vh ;
        height: 5vh;
}
.imgSlider{
    width: 100%;
}
html{
    overflow-x: hidden;
}

}
