html{
    width: 100% ;
    height: 99%;
}
body{
    margin: 0;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    width: 100%;
    
    background-color: #24293E ;
    font-family:'Inter', sans-serif;
}


.mainContainer{
    background-color: #24293E ;
    position: relative;
    width: 100%;
    height: 100%;
}
.mainContainer #title{
    color: white;
    font-weight: 100;
    font-size:38px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* beginning of the Library slider */
.imgSlider{
    display: flex; 
    align-items: center;
    overflow-x: auto; 
    padding: 1vw;
    width: 95%;
    margin-bottom: 10px;
    margin-left: 10px;
}
/* a general css selector for the libraries/albums */
.albums{
    margin-left: 2vw;
    aspect-ratio: 1/1;
    width: 16rem;
    border-radius: 10px;
    min-width: 12rem;
    position: relative;
    font-weight: bold;
}
/* specifying a background image to each album */
/* we can remove the classes and use nth-child pseudo class if we want to */
/* but it will be more accurate for selection in js */
.one{
    background-image: url(/Music/Artwork/rock.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.two{
    background-image: url(/Music/Artwork/pop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.three{
    background-image: url(/Music/Artwork/1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.three p{
    margin-bottom: 1.5rem;
}
.four{
    background-image: url(/Music/Artwork/imagine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.five{
    background-image: url(/Music/Artwork/slow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* the details that will be displayed when on the Music library when hovered  */
.details {
    border-radius: 10px;
    display: none;
    opacity: 0;
    background-color: #1f1c1cd7;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: left;
    justify-content: flex-end;
    transition-duration: 0.2s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.details p{
    position:absolute ;
    bottom: -5rem;
    left: 1.5rem;
    font-size: 20px;
    font-weight: 100;
    margin: 0;
}
#libraryTitle{
    position: absolute;
    color: white;
    text-decoration: solid black 1px;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: 30px;
    visibility: visible;
    opacity: 1;
    transition-duration: 0.2s;
    margin: 0;
    z-index: 1;
}

.albums:hover .details{
    display: flex;
    opacity: 1;
}
.albums:hover .details p{
    bottom: 1rem;
    left: 1.5rem;
}
 .albums:hover #libraryTitle{
    bottom: 3rem;
 }




.imgSlider img{
    margin-left: 1vw;
    aspect-ratio: 1/1;
    width: 16rem;
    border-radius: 10px;
}
/* End of the Library slider */
/* play list css and songs */
.playlist{
    margin: 1rem 2rem 2rem 2rem !important;
    display: flex;
    flex-direction: column;
    background-color: #cccccc00;
    max-height: 32.5rem;
    overflow-y: auto;
    border-radius: 10px ;
    color: white;
    outline: solid 2px #6d90c534 ;

}
.song{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 10vh;
    /* padding: 3rem 1.5rem; */
    border-radius: 10px;
    padding: 1.2rem 0rem 1.2rem 0.2rem;
    transition-duration: 0.2s;
}
.song:hover{
    background-color: #6d90c534;
}
.song img{
    aspect-ratio: 1/1;
    width:8vh;
    height: 8vh;
    margin-left: 1rem;
    /* padding: 2vw; */

    
}
.buttons{
    display: flex;
    margin-right: 2rem;
    /* border: solid 1px black; */
}
.song .buttons button{
    width: 5vh;
    height: 5vh;
    margin-left: 4vw;
    border-radius: 100%;
    border: none;
    font-size: 20px;
    transition-duration: 0.1s ;
    background-color: #cccccc;
    
}
.song .buttons .addbutton{
    background-color: transparent;
    /* margin-left: 20px; */
    color: white;
   
}
.song .buttons button:hover{
    background-color: #9eccc493;
}
.song button img{
    width: 1.5vw;
    height: 1.5vw;
    padding: 4px 0 0 0;

}
.trackDetails{
    width: 85rem;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.trackDetails h2{
    width: max-content;
    font-weight: 600;
    margin-bottom: 0;
}
.trackDetails h3{
    font-weight: 500;
    margin-top: 0 ;
}
.playlist hr{
    width:85%;
    margin: auto;
}
.nowplaying{
    background-color: #6d90c5 !important;
}
/* end of playlist css and songs */
.player{
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0px;
    margin-top: 3vh;
    height: 12vh;
    background-color: rgba(24, 24, 24, 1) ;
    justify-content: space-evenly;
    z-index: 0; 
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
}    
.playerImg{
    aspect-ratio: 1/1;
    margin-left: 1vh;
    width:9vh;
    border-radius: 100%;
    /* animation: rotate 30s forwards infinite ; */
    /* animation-play-state: paused; */
    flex-shrink: 0;
    flex-grow: 0;
}

/* @keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
    }
    
} */

.player button{
    display: flex;
    flex-wrap: wrap;
    /* width: 2vw; */
    height: 4vh;
    margin-right:0.5rem;
    margin-left: 0.5rem;
    border-radius: 100%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1/1;
}
.player button:hover{
    background-color: rgb(192, 189, 189);
}
.player button img{
    width: 3vh;
    height: 3vh;
}

.player .track{
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    color: aliceblue;
    width: 52vw;
}
.player .track h3{
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 1vh;
}
.player .trackseeker{
    width: 100%;
    accent-color: rgb(4, 105, 221);
}
.player input::-webkit-slider-runnable-track{
    height: 4px;
    transition-duration: 0.1s;
}
.player input::-webkit-slider-thumb{
    appearance: none;
    visibility: hidden;
    opacity: 0;
}

.player input::-webkit-slider-runnable-track:hover{
    height: 13px;
}

.player input::-webkit-slider-thumb:hover{
    visibility: visible;
    opacity: 1;
}
.volume{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 15rem !important;
    bottom: 6rem;
    right: 1vw;
    margin: 0;
    background-color: aliceblue;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.5s ;
}
.volume h3{
    color: black;
}
.volumeSeeker{
    width: 10rem;
    margin-bottom: 2vh;
}

.player .currentTime , .player .totalDuration{
    overflow: hidden;
    margin: 0px ;
    margin-top: 12px;
    width: 3rem;
    flex-grow: 0;
    flex-shrink: 0;
    min-width: fit-content;
    color: white;
}
.volume:not(:focus){
    visibility:hidden ;
    opacity: 0;
}
::-webkit-scrollbar {
    display: none;
  }


  .playlist::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.76);
    margin-right: 5px;
    margin-block: 0.5rem;
    border-radius: 30px;
  }
.playlist::-webkit-scrollbar-thumb {
    background: #cccccc88;
    border-radius: 30px;
    margin-right: 5px;
    width: 10px;
  }
  .imgSlider::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.76);
    margin-right: 5px;
    margin-block: 0.5rem;
    border-radius: 30px;
  }
.imgSlider::-webkit-scrollbar-thumb {
    background: #cccccc88;
    border-radius: 30px;
    margin-right: 5px;
    height: 10px;
  }

  @media only screen and (max-width :650px){
    .player .next , .player .prev{
        display: none;
    }
    .player .track h3{
        font-size: 13px;
        text-align: center;
  }
  .player button{
    width: 6.3vw;
    height: 6.3vw;
    font-size: 12px;
    margin-top: 0.7rem;
  }
  .playerImg{
    width: 5vh;
  }
  .player {border-top: solid white 1px;}
  .volume{
    width: 7rem !important;
    height: 2rem;
    right: 0;
    bottom: 4.7rem;
    margin-right: 0 !important;
    
  }
  .volume h3{
    visibility: hidden;
  }
  .volumeSeeker{
    /* transform: rotate(-90deg); */
    width: 6rem;
    margin-bottom: 55%;
    
  }
  .trackDetails{
    font-size:10px;
  }
  .trackDetails h2{
    width: auto;
  }
  .imgSlider img{
    width: 20vh;
  }
  .playlist{
     max-height: 32rem ;
     margin: 2rem 0.5rem 2rem 0.5rem !important;
    }
.song img{
        width: 5vh ;
        height: 5vh;
}
.imgSlider{
    width: 94%;
}
html{
   width: 100%;
}
.imgSlider::-webkit-scrollbar-track {
    background:transparent;

  }
.imgSlider::-webkit-scrollbar-thumb {
    background: transparent;

  }

 .mainContainer #title{
    margin-top:20px ;
    margin-left: 10px;
  }

  .playlist::-webkit-scrollbar,.playlist::-webkit-scrollbar-thumb,.playlist::-webkit-scrollbar-track{
    background: transparent;

  }

}

/* .song:nth-of-type(2) button:nth-of-type(2){
    background-color: rgb(30, 112, 184);
} */
